<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://icons8.com/icon/21123/area-chart">
    <title>SearchCoach</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <a class="navbar-brand"><img src="/img/icons8-area-chart-30.png" alt="graph icon"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="nav-link enlarge" href='/'>Home</a>
      <a class="nav-link enlarge" href='/Profiles'>Profile</a>
      <a class="nav-link enlarge" href='/Applications'>Application</a>

      @* <a class="nav-link" style="margin-left: auto;">@Html.ActionLink("Log in", "Login", "Account")</a> *@
      @* <a class="nav-link">|@Html.ActionLink("Register", "Register", "Account")</a>
        <a class="nav=link" style="margin-right: 1%;">@Html.ActionLink("Manage", "Index", "Account")</a> *@

    </div>
  </nav>
  <div class="container">
    @RenderBody()
    @* @await Html.PartialAsync("Footer") *@
  </body>
</html>