@{
  Layout = "_Layout";
}

<h1 class="account-h2">Profile</h1>
<hr/>

@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-primary" value="Log out" />
  }
}
else
{
  <p class="enlarge account-p">@Html.ActionLink("Register", "Register")</p>
  <p class="enlarge account-p">@Html.ActionLink("Log in", "Login")</p>
}
<p class="enlarge account-p">@Html.ActionLink("Home", "Index", "Home")</p>
