html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9e5df;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

h4 {
  font-size: 1.625rem;
  font-weight: 600;
  color: black;
}



li {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  padding-right: 4%;
  padding-top: 2%;
  list-style: none;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  padding-top: 2%;
}

ul {
  list-style: none;
}

.account-h2 {
  margin-top: 5%;
}

.account-p {
  font-size: 2.5rem;
}

.enlarge {
  transition: transform 0.3s;
  color: black;
}

.enlarge:hover {
  transform: scale(1.1);
  color: black;
}

.home-index {
  font-family: 'Poppins', sans-serif;
}

.home-index h1 {
  font-family: 'Poppins', sans-serif;
}

.index-application{
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 5px 5px 10px -5px #696868;
}

.index-application h2 {
  margin-bottom: 2%;
}

.application-info {
    border-radius: 1rem 1rem 0.75rem 0.75rem;
}

.manage {
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  border: solid 3px #6e7491;
  padding: 30px 0px;
  max-width: 800px;
  width: 60%;
  margin: 0 auto 0;
  font-size: 37px;
  line-height: 28px;
  transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  margin-left: 2%;
  margin-right: 2%;
}

.navimg {
  height: 50px;
  width: 50px;
}


.profile-photo {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

.user-info {
  background-image: url(/img/profile-background.jpg);
  background-size: 100% 80%;
  width: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  background-repeat: no-repeat;
  border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 10px -5px #696868;
  background-repeat: repeat-x;
  animation: animatedBackground 3s linear infinite;
  margin: auto;
}

.user-stat-inner{
  margin-top: 5%;
  text-align: left !important;
  
}

.user-stat-outer{
  margin-top: 4%;
}

.user-stat-outer h4{
  margin-top: 2%;
  font-size: 1.5rem !important;
}

.welcome {
  margin-top: 5%;
  margin-bottom: 4%;
  font-size: 3.5rem;
}

#pointer{
  position: relative;
  margin-top: 5%;
	margin-left: 60%;
	width: 60px;
	height: 60px;
  top: -45px;
  transform: rotate(125deg);
  animation: pointers 0.4s infinite linear;
  animation-delay: .5s;
}

#search {
  background-color: rgba(0, 0, 0, 0.08);
  background-image: url(/img/icons8-search-30.png);
  background-repeat: no-repeat;
  text-indent: 20px;
  margin: auto; /*maybe?*/
}

#button-search {
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  border: none;
  background-color: rgba(246,246,246,255);
}

#navbar {
  background-color: rgba(246,246,246,255);
  font-size: 1.5rem;
  left: 0;
  width: 75vw;
  z-index: 100;
  margin: auto;
  margin-top: 0.5%;
  padding: 0.8rem 2.4rem;
  border-radius: 2.2rem 2.2rem 2.2rem 2.2rem;
  box-shadow: 5px 5px 10px -5px #696868;
}

@keyframes pointers {
	from {
		top: -45px;
		right: 0;
	}

	to {
		top: -42px;
		right: 3px;
	}
}

@keyframes animatedBackground {
  from { background-position: 0px 0; }
  to { background-position: -400px 0; }
}